<tr ng-hide="!ihm.mode && display.pref.compMin > m().val">
	<td class="label saisie dice" ng-click="jetSetCompNom(nom)">{{label}}</td>
	<td ng-show="ihm.mode == 'stress'" class="ko" title="Limite de l'archétype">{{m().arch}}</td>
	<td class="val saisie" ng-class="{'emphase': m().arch <= m().val && ihm.mode == 'archetype'}">
		<input class="number" type="text" maxlength="3" ng-model="m().valIhm" type-int-min="{{Comp.min[m().type]}}"
			ng-disabled="ihm.mode == 'stress' || ihm.mode == 'archetype'" title="{{m().valIhm !== undefined ? undefined : m().val}}"/>
	</td>
	<td ng-show="m().isModele" class="val saisie">- <input class="number" type="text" maxlength="3" ng-model="m().maxIhm" type-int-min="-11"/></td>
	<td title="XP pour monter ({{Comp.xpToUpFrom(m())}}) : {{Comp.xpToUpFrom(m()) - m().xp}}" ng-hide="ihm.mode == 'archetype' || ihm.mode == 'pnjs'">
		<input class="val saisie number" type="text" maxlength="3" ng-model="m().xpIhm" type-int-min="0" ng-disabled="ihm.mode == 'stress'"/>
	</td>
	<td ng-hide="ihm.mode == 'stress' || ihm.mode == 'archetype' || ihm.mode == 'pnjs'"><img src="img/plus.png" ng-click="m().xp = m().xp + 1"/></td>
	<td ng-show="ihm.mode == 'stress'">
		<span ng-show="m().val > -11">
			<span class="arrows">
				<img ng-show="g.canUp && !g.arch" src="img/up-green.png" ng-click="upWithStress()"/>
				<img ng-hide="g.canUp || g.arch" src="img/up-grey.png"/>
				<img ng-show="g.arch" src="img/forbidden.png" title="Archétype atteint"/>
				<span class="{{g.lvl > 0 ? 'emphase' : ''}}">{{g.lvl}}</span>
			</span>
			<input class="val saisie" type="number" name="xp" maxlength="3" ng-model="g.xp" type-int-min="0"/>
			<img ng-show="g.xp > 0" src="img/cancel.png" ng-click="g.xp = 0"/>
			<img ng-hide="g.xp > 0" src="img/cancel-dis.png"/>
		</span>
		<img ng-show="m().val < -10" src="img/forbidden.png" title="Commencer par monter à -10 par apprentissage"/>
	</td>
	<td ng-show="ihm.mode == 'archetype'" ng-class="{'emphase': m().arch == ihm.archetype.emphase}">
		<select ng-model="m().arch" ng-options="v.value as v.value disable when v.restant == 0 && v.value != m().arch for v in perso.ihm.archetype"></select>
	</td>
</tr>