<div ng-show="((carac != undefined && xp.caracs > 0) || comp != undefined) && diff < 0" class="w-xp expandable">
	<span class="val calcule">{{-diff}}</span>
	<form>
		<table>
			<tr ng-show="caracs.length > 0 && xp.caracs > 0">
				<th>Carac<span ng-show="caracs.length > 1">s</span>.</th>
				<td class="val calcule">{{xp.caracs}}</td>
			</tr>
			<tr ng-show="caracs.length > 1 && xp.caracs > 0 && xp.caracs % caracs.length == 0" ng-repeat="c in caracs">
				<td class="label calcule">{{c.label}}</td>
				<td class="val calcule">{{c.val}}</td>
			</tr>
			<tr ng-show="caracs.length > 1 && xp.caracs > 0 && xp.caracs % caracs.length != 0" ng-repeat="c in caracs">
				<td class="label saisie">{{c.label}}</td>
				<td class="val saisie">{{c.val}}</td>
				<td><input type="radio" name="radio" value="{{c.nom}}" ng-model="radio"/></td>
			</tr>
			<tr ng-show="comp != undefined && xp.comp > 0">
				<th>Comp.</th>
				<td class="val calcule">{{xp.comp}}</td>
			</tr>
			<tr>
				<td class="center" colspan="2">
					<button ng-click="valid()">Valider</button>
				</td>
			</tr>
		</table>
	</form>
</div>