<table id="cadre-archetype" class="cadre center">
	<tr>
		<td colspan="10"><h1>Rempissage de l'archétype</h1></td>
		<td colspan="3" class="right"><button ng-click="archetypeValid()">Valider</button></td>
	</tr>
	<tr>
		<th class="right">Niveau</th>
		<td title="Mettre en évidence les compétences ayant déjà +11 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 11}" ng-click="service.competence.emphaseArchetype(ihm, 11)">+11</td>
		<td title="Mettre en évidence les compétences ayant déjà +10 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 10}" ng-click="service.competence.emphaseArchetype(ihm, 10)">+10</td>
		<td title="Mettre en évidence les compétences ayant déjà +9 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 9}" ng-click="service.competence.emphaseArchetype(ihm, 9)">+9</td>
		<td title="Mettre en évidence les compétences ayant déjà +8 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 8}" ng-click="service.competence.emphaseArchetype(ihm, 8)">+8</td>
		<td title="Mettre en évidence les compétences ayant déjà +7 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 7}" ng-click="service.competence.emphaseArchetype(ihm, 7)">+7</td>
		<td title="Mettre en évidence les compétences ayant déjà +6 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 6}" ng-click="service.competence.emphaseArchetype(ihm, 6)">+6</td>
		<td title="Mettre en évidence les compétences ayant déjà +5 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 5}" ng-click="service.competence.emphaseArchetype(ihm, 5)">+5</td>
		<td title="Mettre en évidence les compétences ayant déjà +4 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 4}" ng-click="service.competence.emphaseArchetype(ihm, 4)">+4</td>
		<td title="Mettre en évidence les compétences ayant déjà +3 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 3}" ng-click="service.competence.emphaseArchetype(ihm, 3)">+3</td>
		<td title="Mettre en évidence les compétences ayant déjà +2 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 2}" ng-click="service.competence.emphaseArchetype(ihm, 2)">+2</td>
		<td title="Mettre en évidence les compétences ayant déjà +1 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 1}" ng-click="service.competence.emphaseArchetype(ihm, 1)">+1</td>
		<td title="Mettre en évidence les compétences ayant déjà 0 en archétype" ng-class="{'emphase': ihm.archetype.emphase == 0}" ng-click="service.competence.emphaseArchetype(ihm, 0)">0</td>
	</tr>
	<tr>
		<th title="Nombre de compétences en tout pouvant avoir un niveau en archétype" class="right">Total</th>
		<td title="Une seule compétence en tout peut avoir +11 en archétype">1</td>
		<td title="Une seule compétence en tout peut avoir +10 en archétype">1</td>
		<td title="2 compétences en tout peuvent avoir +9 en archétype">2</td>
		<td title="3 compétences en tout peuvent avoir +8 en archétype">3</td>
		<td title="4 compétences en tout peuvent avoir +7 en archétype">4</td>
		<td title="5 compétences en tout peuvent avoir +6 en archétype">5</td>
		<td title="6 compétences en tout peuvent avoir +5 en archétype">6</td>
		<td title="7 compétences en tout peuvent avoir +4 en archétype">7</td>
		<td title="8 compétences en tout peuvent avoir +3 en archétype">8</td>
		<td title="9 compétences en tout peuvent avoir +2 en archétype">9</td>
		<td title="10 compétences en tout peuvent avoir +1 en archétype">10</td>
		<td title="Pas de limite sur le nombre de compétences qui peuvent avoir 0 en archétype">&infin;</td>
	</tr>
	<tr>
		<th title="Nombre compétences auxquelles il reste à attribuer un niveau en archétype" class="right">Restant</th>
		<td ng-attr-title="{{archetypeLabelRestant(11)}}" class="val calcule">{{perso.ihm.archetype[11].restant}}</td>
		<td ng-attr-title="{{archetypeLabelRestant(10)}}" class="val calcule">{{perso.ihm.archetype[10].restant}}</td>
		<td ng-attr-title="{{archetypeLabelRestant(9)}}" class="val calcule">{{perso.ihm.archetype[9].restant}}</td>
		<td ng-attr-title="{{archetypeLabelRestant(8)}}" class="val calcule">{{perso.ihm.archetype[8].restant}}</td>
		<td ng-attr-title="{{archetypeLabelRestant(7)}}" class="val calcule">{{perso.ihm.archetype[7].restant}}</td>
		<td ng-attr-title="{{archetypeLabelRestant(6)}}" class="val calcule">{{perso.ihm.archetype[6].restant}}</td>
		<td ng-attr-title="{{archetypeLabelRestant(5)}}" class="val calcule">{{perso.ihm.archetype[5].restant}}</td>
		<td ng-attr-title="{{archetypeLabelRestant(4)}}" class="val calcule">{{perso.ihm.archetype[4].restant}}</td>
		<td ng-attr-title="{{archetypeLabelRestant(3)}}" class="val calcule">{{perso.ihm.archetype[3].restant}}</td>
		<td ng-attr-title="{{archetypeLabelRestant(2)}}" class="val calcule">{{perso.ihm.archetype[2].restant}}</td>
		<td ng-attr-title="{{archetypeLabelRestant(1)}}" class="val calcule">{{perso.ihm.archetype[1].restant}}</td>
		<td class="val calcule">&infin;</td>
	</tr>
</table>