<table id="cadre-blessures" class="cadre" draggable="true" ondragstart="zone.drag(event)"
 ng-class="{'cadre-blessures-hide-detail': !display.cadre.blessures.detail}">
	<tr>
		<td colspan="9">
			<h1>Blessures</h1>
			<table class="no-pnj" prefs>
				<tr>
					<td><label for="cadre-blessures-detail" class="label saisie">Détails</label></td>
					<td><input id="cadre-blessures-detail" class="val saisie" type="checkbox" ng-model="display.cadre.blessures.detail"/></td>
				</tr>
				<tr>
					<td class="label saisie">Heure</td>
					<td class="val saisie"><select ng-model="display.cadre.blessures.heure">
						<option value="top">Au dessus</option>
						<option value="middle">Centré</option>
						<option value="bottom">En dessous</option>
					</select></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<th class="label calcule">Grade</th>
		<th class="label calcule cadre-blessures-detail">Type</th>
		<th class="label calcule">Localisation</th>
		<th class="label calcule" title="Nombre de jouts avant test">Jours</th>
		<th class="label calcule cadre-blessures-detail">Heure</th>
		<th class="label calcule">Perte</th>
		<th class="label calcule cadre-blessures-detail">Herbes</th>
		<th class="label calcule" colspan="2">Soin</th>
	</tr>
	<tr ng-repeat="b in perso.blessure">
		<td class="val calcule">{{b.grade}}</td>
		<td class="val calcule cadre-blessures-detail">{{b.type}}</td>
		<td class="val calcule">{{b.localisation}}</td>
		<td class="val calcule">{{b.jours}}</td>
		<td class="val calcule cadre-blessures-detail"><span ng-class="display.cadre.blessures.heure" heure="b.heure"></span></td>
		<td class="val calcule"><img ng-show="b.saigne" src="img/blood.png" title="Saignement"/> {{b.endu}} endu <span class="imp" ng-show="b.vie">{{b.vie}} vie</span></td>
		<td class="val calcule cadre-blessures-detail">
			<span ng-show="b.herbes">
				<img src="img/done.png"/> {{b.herbes.bruns}} {{Blessure.herbe[b.herbes.qualite]}} en {{i18n.date.heure[b.herbes.heure - 1]}}
			</span>
			<span ng-hide="b.herbes">
				<img src="img/help.png"/> {{b.texteSoin()}}
			</span>
		</td>
		<td class="center cadre-blessures-detail">
			<span ng-show="b.herbes">
				<button ng-disabled="b.herbes" ng-click="blessureTest(b)">Tester</button>
			</span>
			<span ng-show="!b.herbes && !b.saigne">
				<button class="ok" ng-disabled="blessuresHerbes.bruns.$invalid || !b.herbeBecessaireEtSuffisant()" ng-click="b.appliqueHerbe()">Appliquer</button>
			</span>
			<span ng-show="b.saigne">
				<button ng-click="b.saigne = false" title="Arrêter le saignement"><img src="img/blood.png"/> Arrêter</button>
			</span>
		</td>
		<td>
			<button ng-click="b.suppr()" title="En cas de soin total ou de potion magique">Supprimer</button>
		</td>
	</tr>
	<tr class="cadre-blessures-detail">
		<td class="label saisie" colspan="8">
			<form name="blessuresHerbes">
				Herbes
				<input name="bruns" type="number" class="val saisie" maxlength="2" ng-model="perso.ihm.herbes.bruns" required type-int-min="1"/>
				<select ng-model="perso.ihm.herbes.qualite" ng-options="h for h in Blessure.herbe"></select>
			</form>
		</td>
	</tr>
</table>