<div id="cadre-encaissement" class="cadre" draggable="true" ondragstart="zone.drag(event)">
	<table>
		<tr>
			<td colspan="7">
				<h1>Encaissement</h1>
			</td>
		</tr>
		<tr>
			<td class="label saisie">+Dom</td>
			<td class="val saisie"><input type="number" maxlength="2" ng-model="perso.ihm.encaissement.dom" type-int-min="0"/></td>
			<td class="label saisie">Réussite</td>
			<td class="val saisie"><select ng-model="perso.ihm.encaissement.reussite">
				<option value="0">Normale</option><option value="1">Significative</option><option value="2">Particulière</option><option value="3">Critique</option>
			</select></td>
			<td class="label saisie">Type</td>
			<td class="val saisie"><select ng-model="perso.ihm.encaissement.type">
				<option value="T">Tranchant</option><option value="C">Contandant</option><option value="P">Pointe</option>
			</select></td>
			<td><button ng-click="encaissementValid()">Encaisser</button></td>
		</tr>
	</table>
</div>