<table id="cadre-endurance" class="cadre" draggable="true" ondragstart="zone.drag(event)">
	<tr>
		<td colspan="4"><h1>Endurance</h1></td>
	</tr>
	<tr>
		<td class="label saisie">XP</td>
		<td class="val saisie"><input type="number" maxlength="2" ng-model="perso.compteur.xpEndu" type-int-min="0"/></td>
		<td class="label calcule">Max</td>
		<td class="val calcule">{{perso.compteur.enduMax}}</td>
	</tr>
	<tr>
		<td class="label calcule" colspan="3" title="Limite d'endurance due aux blessures">Limite blessures</td>
		<td class="val calcule">{{perso.compteur.enduLimite}}</td>
	</tr>
	<tr>
		<td class="label saisie" colspan="3">Perte hors blessure</td>
		<td class="val saisie"><input type="number" maxlength="2" ng-model="perso.compteur.perteEnduHorsBlessure" type-int-min="0"/></td>
	</tr>
	<tr>
		<td class="label calcule" colspan="3">Actuelle</td>
		<td class="val calcule">{{perso.compteur.endu}}</td>
	</tr>
	<tr class="no-pnj">
		<td colspan="1"><button ng-disabled="perso.compteur.perteEndu == 0 || perso.ihm.recup.enduMn == 0" ng-click="perso.blessureRepos()"
		 title="Récupération de {FR constitution} points toutes les {FT constitution} minutes">Repos</button></td>
		<td colspan="3">pendant</td>
	</tr>
	<tr class="no-pnj">
		<td class="val calcule">{{perso.enduPourRepos()}}</td>
		<td class="val saisie"><input type="number" maxlength="2" ng-model="perso.ihm.recup.enduMn" type-int-min="0"/></td>
		<td colspan="2">minutes</td>
	</tr>
	<tr class="no-pnj">
		<td class="label caclule">Tout</td>
		<td class="val calcule">{{perso.enduMinutesPourRecupTotale()}}</td>
		<td colspan="2">minutes</td>
	</tr>
</table>