<table id="cadre-herbes" class="cadre" draggable="true" ondragstart="zone.drag(event)">
	<tr>
		<td colspan="4"><h1>Herbes</h1></td>
	</tr>
	<tr>
		<td colspan="2"><h2>Soin</h2></td>
		<td colspan="2"><h2>Lune</h2></td>
	</tr>
	<tr>
		<td class="label saisie">Fausse&nbsp;Suppure</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.soin[0]" type-int-min="0"/></td>
		<td class="label saisie">+1</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.lune[0]" type-int-min="0"/></td>
	</tr>
	<tr>
		<td class="label saisie">Suppure</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.soin[1]" type-int-min="0"/></td>
		<td class="label saisie">+2</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.lune[1]" type-int-min="0"/></td>
	</tr>
	<tr>
		<td class="label saisie">Méritoine</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.soin[2]" type-int-min="0"/></td>
		<td class="label saisie">+3</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.lune[2]" type-int-min="0"/></td>
	</tr>
	<tr>
		<td class="label saisie">Ortigal</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.soin[3]" type-int-min="0"/></td>
		<td class="label saisie">+4</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.lune[3]" type-int-min="0"/></td>
	</tr>
	<tr>
		<td class="label saisie">Ortigal&nbsp;Noir</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.soin[4]" type-int-min="0"/></td>
		<td class="label saisie">+5</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.lune[4]" type-int-min="0"/></td>
	</tr>
	<tr>
		<td class="label saisie">Belidane</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.soin[5]" type-int-min="0"/></td>
		<td class="label saisie">+6</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.lune[5]" type-int-min="0"/></td>
	</tr>
	<tr>
		<td class="label saisie">Faux&nbsp;Murus</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.soin[6]" type-int-min="0"/></td>
		<td class="label saisie">+7</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.lune[6]" type-int-min="0"/></td>
	</tr>
	<tr>
		<td class="label saisie">Murus</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.soin[7]" type-int-min="0"/></td>
		<td class="label saisie">+8</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.lune[7]" type-int-min="0"/></td>
	</tr>
	<tr>
		<td class="label saisie">Tanemiel</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.soin[8]" type-int-min="0"/></td>
		<td class="label saisie">+9</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.lune[8]" type-int-min="0"/></td>
	</tr>
	<tr>
		<td class="label saisie">Tanemiel&nbsp;Dorée</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.soin[9]" type-int-min="0"/></td>
		<td class="label saisie">+10</td>
		<td><input class="val saisie" type="number" maxlength="2" ng-model="perso.eqmt.herbe.lune[9]" type-int-min="0"/></td>
	</tr>
</table>