<table id="cadre-identite" class="cadre" draggable="true" ondragstart="zone.drag(event)">
	<tr>
		<td>
			<h1>Identité</h1>
			<table prefs>
				<tr>
					<td class="label saisie">Heure</td>
					<td class="val saisie"><select type="checkbox" ng-model="display.cadre.identite.heure">
						<option value="top">Au dessus</option>
						<option value="middle">Centré</option>
						<option value="bottom">En dessous</option>
					</select></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr><td><table style="width: 100%;"><tr>
		<td class="label saisie">Nom</td>
		<td class="val saisie"><input type="text" maxlength="36" ng-model="perso.id.nom"/></td>
		<td class="label saisie">Sexe</td>
		<td class="val saisie"><input type="text" maxlength="1" ng-model="perso.id.sexe"/></td>
	</tr></table></td></tr>
	<tr><td><table style="width: 100%;"><tr>
		<td class="label saisie"><label for="hautRevant">Haut-rêvant</label></td>
		<td class="val saisie"><input id="hautRevant" type="checkbox" ng-model="perso.id.hautRevant"/></td>
		<td class="label saisie">Taille</td>
		<td class="val saisie"><input type="text" maxlength="4" ng-model="perso.id.taille"/></td>
		<td class="label saisie">Poids</td>
		<td class="val saisie"><input type="number" maxlength="3" ng-model="perso.id.poids" required type-int-min="50"/></td>
	</tr></table></td></tr>
	<tr><td><table style="width: 100%;"><tr>
		<td class="label saisie">Age</td>
		<td class="val saisie"><input type="number" maxlength="2" ng-model="perso.id.age" required type-int-min="16"/></td>
		<td class="label saisie">Heure de naissance</td>
		<td class="val saisie"><input type="number" maxlength="2" ng-model="perso.id.heure" required type-heure/></td>
		<td class="val calcule bottom" ng-class="display.cadre.identite.heure" heure="perso.id.heure"></td>
	</tr></table></td></tr>
	<tr><td><table style="width: 100%;"><tr>
		<td class="label saisie">Cheveux</td>
		<td class="val saisie"><input type="text" maxlength="16" ng-model="perso.id.cheveux"/></td>
		<td class="label saisie">Yeux</td>
		<td class="val saisie"><input type="text" maxlength="16" ng-model="perso.id.yeux"/></td>
	</tr></table></td></tr>
	<tr><td><table style="width: 100%;"><tr>
		<td class="label saisie">Signe particulier</td>
		<td class="val saisie"><input type="text" maxlength="32" ng-model="perso.id.signePart"/></td>
	</tr></table></td></tr>
</table>