<table id="cadre-modeles" class="cadre" draggable="true" ondragstart="zone.drag(event)">
	<tr>
		<td><h1>Modèles</h1></td>
		<td><img title="Ajouter un nouveau groupe" src="img/plus.png" ng-click="modeleGroupes.push({nom: '', shown: false})"/></td>
	</tr>
	<tr>
		<td colspan="2">
			<table ng-repeat="groupe in modeleGroupes track by $index">
				<tr>
					<td><h2>
						<img ng-show="!groupe.shown" ng-click="modeleGroupeShow(groupe.nom)" src="img/arrow-right.png"/>
						<img ng-show="groupe.shown" ng-click="modeleGroupeShow(groupe.nom)" src="img/arrow-down.png"/>
						{{groupe.nom}}
					</h2></td>
					<td drop-type-index="modeles"><img title="Glisser un modèle ici pour le supprimer" src="img/minus.png"/></td>
					<td><img title="Ajouter un nouveau modèle vide" src="img/perso-plus.png" ng-click="modeleAdd(groupe.nom)"/></td>
				</tr>
				<tr ng-show="groupe.shown" ng-repeat="modele in modeles | groupe:groupe.nom">
					<td drag-type-value="modeles|{{groupe.nom}}|{{$index}}" ng-click="modelesSelect(groupe.nom, $index)" ng-class="[{'selected': modele.selected}]">{{modele.id.nom}}</td>
					<td><img title="Créer un PNJ à partir de ce modèle" src="img/perso-plus.png" ng-click="modeleInstancie(groupe.nom, $index)"/></td>
					<td><img title="Dupliquer ce modèle" src="img/perso-duplicate.png" ng-click="modeleDuplicate(groupe.nom, $index)"/></td>
				</tr>
			</table>
		</td>
	</tr>
</table>