<table id="cadre-round" class="cadre" draggable="true" ondragstart="zone.drag(event)">
	<tr>
		<td colspan="4"><h1>Déroulement combat</h1></td>
	</tr>
	<tr>
		<td class="label calcule">Combat</td>
		<td colspan="2"><button ng-disabled="display.round > 0" ng-click="roundStart()">Nouveau</button></td>
		<td><button ng-disabled="display.round == undefined" ng-click="roundEnd()">Fin</button></td>
	</tr>
	<tr>
		<td class="label calcule">Round</td>
		<td class="val calcule">{{display.round}}</td>
		<td colspan="2"><button ng-disabled="display.round == undefined" ng-click="roundIncr()">Suivant</button></td>
	</tr>
	<tr>
		<td colspan="4">
			<button ng-disabled="display.round == undefined" ng-click="perso.blessureSonne(display.round)">Sonné</button>
			<span class="label calcule">jusqu'au round</span>
			<span class="val calcule">{{perso.combat.sonne}}</span>
		</td>
	</tr>
</table>