<table id="cadre-stress" class="cadre">
	<tr>
		<td colspan="6"><h1>Distribution des points de stress</h1></td>
	</tr>
	<tr>
		<td class="label calcule">Total</td>
		<td class="val calcule">{{service.compteur.stressToXP(perso.compteur, perso.ihm.xp.jet)}}</td>
		<td class="label calcule">Restant</td>
		<td class="val calcule">{{perso.ihm.xp.restant}}</td>
		<td><button class="ok" ng-disabled="perso.ihm.xp.restant != 0" ng-click="stressValid()">Valider</button></td>
		<td><button class="ko" ng-click="stressCancel()">Annuler</button></td>
	</tr>
</table>